.header-bg {
  background-image: url("https://images.unsplash.com/photo-1582803824594-65b5b4632cad?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=871&q=80");
  background-position: center;
  background-size: cover;
  height: 500px;
}
.header-bg .Overlay {
  background: rgba(255, 255, 255, 0.5);
  height: 500px;
}
